body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #042331;
    
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    color: #c1cbd7;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slide div div{
    display: inline-block;
    color: white;
    background: red;
    padding: 4px 12px;
    border-radius: 2px;
    margin-bottom: 45px;

}
.slide div:nth-child(1) div{
    background: red;
}
 .slide div:nth-child(2) div{
    background-color: #042331;
 }
.slide div:nth-child(3) div{
    background: #042331;
}

.slide div:nth-child(1){
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{margin-top: -270px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    99.99%{margin-top: 0px;}
    100%{margin-top: -270px;}


    
}

.slide{
    overflow: hidden;
    height: 50px;
}